!!!
%html
  %head
    %meta{"charset": "utf-8"}
    %meta{"name": "viewport", "content": "width=device-width, initial-scale=1.0"}
    %title Todo Vue App
    %link{"rel": "stylesheet", "href": "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"}

  %body
    #app
      %todo-app
  %script{"src": "./dist/build.js"}
  %script{"src": "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"}
